<!DOCTYPE html>
<html>
  <head>
    <title>My Rails App</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <li><%= link_to 'Projects', projects_index_path %></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      Copyright © <%= Time.now.year %> Project Comments History App
    </footer>
  </body>
</html>
